<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ui-sref="home" class="navbar-brand">
                    <span class="glyphicon glyphicon-education"></span>
                    SL
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="student" ng-if="isStudent">Student Page</a></li>
                    <li><a ui-sref="admin" ng-if="isAdmin">Admin Page</a></li>
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="current_user.firstName == undefined"><a ui-sref="login">Login</a></li>
                    <li ng-if="current_user.firstName != undefined">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="images/profile_pictures/{{current_user.profilePicture || 'default.jpg'}}" class="img-circle" height="20" width="20">
                            {{current_user.firstName}}
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="settings">Account Settings</a></li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="logout()">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        &nbsp;
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</header>

<main ui-view class="container-fluid"></main>

<footer>
</footer>